[submodule "source/YM3526"]
	path = source/YM3526
	url = https://github.com/FluBBaOfWard/YM3526.git
[submodule "source/ARM6502"]
	path = source/ARM6502
	url = https://github.com/FluBBaOfWard/ARM6502.git
[submodule "source/ARM6809"]
	path = source/ARM6809
	url = https://github.com/FluBBaOfWard/ARM6809.git
[submodule "source/Shared"]
	path = source/Shared
	url = https://github.com/FluBBaOfWard/NDS_Shared.git
[submodule "source/RenegadeVideo"]
	path = source/RenegadeVideo
	url = https://github.com/FluBBaOfWard/RenegadeVideo.git
